<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一路梦订单信息查询系统</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/byphone.css'%}">
{#    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{#    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
</head>
<body>
<div class="container">
  <form id="contact" action="" method="post">
    <h3>一路梦订单信息查询系统</h3>
    <h4>Copyright ©️ 2016-2019 一路梦·Biryol 版权所有!侵权必究!</h4>
{#    <fieldset>#}
{#      <input placeholder="数据库最后的更新时间" value ="" type="text" tabindex="1" required autofocus>#}
{#    </fieldset>#}
{#    <fieldset>#}
{#      <input placeholder="Your Email Address" type="email" tabindex="2" required>#}
{#    </fieldset>#}
    <fieldset>
      <input placeholder="请输入客户手机号:" type="tel" tabindex="1" required>
    </fieldset>
{#    <fieldset>#}
{#      <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>#}
{#    </fieldset>#}
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">查询</button>
    </fieldset>
    <h4>系统数据最后更新时间:</h4>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="2" ></textarea>
    <h4>备注:<br>
    1. 当天北京时间 14:00 之前的订单当天安排.北京时间 14:00 之后的订单第二天安排.<br>
    2. 订单安排后的第二天出快递单号.(也就是订单安排后的第二天你才可以在本系统查得到).<br>
    3. 若下单后三天,本系统仍然查不到您的信息,请务必及时跟我们的官方客服联系处理.<br>
    </h4>
    <h3>感谢您使用一路梦™️产品和服务!</h3>
    </fieldset>
    {% csrf_token %}
  </form>
</div>
</body>
</html>